.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  border: 2px, solid, black;
  opacity: 80%;
  background-color: black;
  border-radius: 10px;
  margin-top: 5vh;
}

.introduction {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clear: both;
}

.experience {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clear: both;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  display: flex;
  justify-content: flex-end;
  float: right;
}

@media (min-width: 1024px) {
  .profilePic {
    justify-content: flex-end;
    width: 200px;
    height: 200px;
  }
}
